@import url(reset.css);

body {
    background: url(../img/Men_Bodybuilding_Dumbbells_Hands_Black_and_white_582615_1365x1024.jpg)
}

.container {
    padding: 20px 0;
}

.btn-secondary {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    text-align: center;
    color: antiquewhite;
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    color: antiquewhite;
}

.results {
    font-size: 26px;
}

